.education {
    min-height: 50vh;
    background-color: var(--secondary);
    padding: 5rem;
 
}

.education-body {
    margin-top: 10%;
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
      
}

.education-description {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.education-description>h1 {
    font-size: 3.5rem;
    font-family: var(--primaryFont);
    margin-bottom: 2rem;
    color:var(--primary)
}


.education-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    padding: 1.5rem;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    transition: 300ms ease-in-out;
    background-color:var(primary30);

}

.education-card-open {
        display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            width: 90%;
            padding: 1.5rem;
            border-radius: 20px;
            margin-bottom: 1.5rem;
            transition: 300ms ease-in-out;
    background-color: var(--primary80);
}
.educard-img-open{
    border-radius: 50%;
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    background-color: var(--secondary70);
    box-shadow: none;

}

.hide-open{
    display:inline-flex;
    flex-direction: column;
    color: var(--tertiary);
    font-weight: 600;
    text-shadow: 0px 0px .5px var(--secondary)
}

.hide {
    display: none;
    color: var(--tertiary);
    font-weight: 600;
    text-shadow: 0px 0px .5px var(--secondary);
}


.educard-img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--primary80);
    box-shadow: inset 0px 0px 23px var(--tertiary50);
    transition: 300ms ease-in-out;
}

.educard-img:hover {
background-color: var(--primary30);
box-shadow: inset 0px 0px 13px var(--tertiary50);
}

.education-details {
    margin-left: 0.6rem;
    font-family: var(--primaryFont);
}

.education-details-open {
    margin-left: 0.6rem;
    font-family: var(--primaryFont);
}

.education-details>h6 {
    font-size: 0.85rem;
    font-weight: 700;
    color: var(--primary);
}

.education-details-open>h6 {
    font-size: 0.85rem;
    font-weight: 700;
    color: var(--secondary)
}

.education-details>h4 {
    font-size: 1.225rem;
    font-weight: 600;
    color: var(--tertiary);
    text-shadow: 0px 0px .5px var(--secondary);
}

.education-details-open>h4 {
    font-size: 1.225rem;
    font-weight: 600;
    color: var(--tertiary);
    
}

.education-details>h5 {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary);
}

.education-details-open>h5 {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--secondary)
}



.hide .hide-open{
    padding: .5rem .5rem 0 1.5rem;
}







@media (min-width: 992px) and (max-width: 1380px) {}


@media screen and (max-width: 992px) {
    .education {
        min-height: 100%;
    }


    .education-description {
        flex: 1;
        margin: auto;
    }

    .education-description>h1 {
        font-size: 3.2rem;
    }

    .education-card {
        width: 100%;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    .education-description>h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
        align-self: center;
    }

    .education-description {
        padding: 1rem;
    }

    .education-card {
        padding: 1rem;
        margin-bottom: 1.5rem;
        
    }

    .educard-img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }

   

    .education-details>h6 {
        font-size: 0.85rem;
    }

    .education-details>h4 {
        font-size: 1.125rem;
        line-height: 126%;
    }

    .education-details>h5 {
        font-size: 1.05rem;
        line-height: 126%;
    }

     .hide{
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .education-description>h1 {
        font-size: 2.5rem;
    }

    .education{
        padding: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .hide-open{
        padding: .25rem 0 0 0;
        font-weight: 550;
        list-style-type: none
    }

    .educard-img-open{
        width:25px;
        height:25px;
    }
    
}

