.projectCard {
    width: 304px;
    height: 360px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--primary80);
    border: 3spx solid var(--secondary);
    box-shadow: inset 0px 0px 12px var(--tertiary);
    transition: 0.3s 0.2s;
    
}

.projectContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    width: 100%;
    height: 100%;
}

.projectContent>h2 {
    font-family: var(--primaryFont);
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 110%;
    text-align: center;
    color: var(--tertiary);
    transition: opacity 0.7s 0.3s;
    margin-bottom: 0.5rem;
}

.projectContent>img {
    width: 100%;
    height: 60%;
    transition: opacity 0.7s 0.3s;
}


.projectCard:hover{
box-shadow: inset 0px 0px 12px var(--secondary);

}
.projectCard:hover img {
    opacity: 0.1;
}
.projectCard:hover h2 {
    opacity: 0.1;
}

.project--showcaseBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap:10%
}

.project--showcaseBtn>a {
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.5s ;
}




.projectCard .project--desc--slide {
    position: absolute;
    width: 95%;
    height: 160px;
    left: 0;
    top: 0;
    transform: translate(-110%, 40%);
    padding: 15px;
    border-radius: 0 20px 20px 0;
    transition: transform 0.9s;
    line-height: 110%;
    display: flex;
    gap:1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--primaryFont);
    background-color: var(--secondary);
    color: var(--tertiary);
}

.projectCard:hover .project--desc--slide {
    transform: translate(-2%, 40%);
}

.project--des{
    display: flex;
}

.projectCard .project--lang {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 140px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    transform: translateX(100%);
    transition: transform 0.5s 0.3s;
    padding: 0.825rem;
    background-color: var(--secondary);
    color: var(--tertiary);
}

.projectCard:hover .project--lang {
    transform: translateX(0);
}

.project--lang>span {
    font-family: var(--primaryFont);
    font-weight: 500;
    word-break: break-word;
    line-height: 100%;
}

.iconBtn{
         display: flex;
         align-items: center;
         justify-content: center;
         width: 30px;
         height: 30px;
         border-radius: 50%;
         border: 2px solid var(--tertiary);
         color: var(--tertiary);
         transition: 0.1s !important;
      
       }

.iconBtn:hover{
        background-color:var(--secondary);
                  color: var(--primary);
                  transform: scale(1.1);
                  border: 2px solid var(--secondary);
                  }


.icon{
                 font-size: 1.1rem;
                 transition: all 0.2s;
                
               }

 @media screen and (max-width: 650px) {


       .projectContent>h2 {
            font-size: 1.25rem;
            margin-bottom: .5rem;
            
        }
}