
.contacts {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color:var(--secondary);
    padding: 5rem;
}


.contacts--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 75%;
    height: 100%;
    margin-top: 5%;
}

.contacts--container>h1 {
    font-family: var(--primaryFont);
    font-size: 3.5rem;
    margin-bottom: 2.5rem;
    color: var(--primary);

}

.contacts-body {
   
    display: flex;
    flex-direction: row;
    
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.contacts-form {
    display: flex;
    flex: 2;
   
}

.contacts-form form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}


.input-container {
    width: 100%;
}


.form-input {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    outline: none;
    margin-bottom: 2rem;
    padding: 0.7rem 0.7rem;
    resize: none;
    border: 4px solid var(--primary80);
    background-color: var(--secondary);
    color: var(--tertiary);
    font-family: var(--primaryFont);
   
    font-size: 1.2rem;
    transition: border 0.2s ease-in-out;
}
    .form-input:focus{
        border: 4px solid var(--tertiary80);
    }


.form-message {
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    border: 4px solid var(--primary80);
    border-radius: 30px;
    outline: none;
    margin-bottom: 2rem;
    padding: 0.7rem 0.7rem;
    resize: none;
    background-color: var(--secondary);
    color: var(--tertiary);
    font-family: var(--primaryFont);
    font-size: 1.2rem;
    transition: border 0.2s ease-in-out;
}
    .form-message:focus{
        border: 4px solid var(--tertiary80);
    }



form>.send--btn{
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
    width: 140px;
    height: 50px;
    color: var(--primary);
    font-weight: 600;
    border-radius: 50px !important;
    border:4px solid var(--primary);
    background-color: var(--secondary)!important;
    transition: 150ms ease-in-out;
    
}
form>.send--btn:hover{
    background-color: var(--tertiary)!important;
    color: var(--secondary);
}

form>.send--btn:disabled{
    transform: scale(.6);
    background-color: var(--primary) !important;
    color: var(--secondary50);
    }


.send-btn>p {
    font-size: 1rem;
    font-family: var(--primaryFont);

}

.submit-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem;
}

.send-icon {
    font-size: 1.5rem;
    transform-origin: center;
    transform: translate(5px -3px) rotate(-30deg);
}

.success-icon {
    font-size: 1.75rem;
    transition: all 0.3s 0.8s ease-in-out;
}

.contacts-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 1;
    box-sizing: border-box;
    padding-left: 5rem;
    margin-top: 1.2rem;
}

.label {
    background-color: var(--secondary);
    color: var(--tertiary70);
    font-family: var(--primaryFont);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0 5px;
    transform: translate(25px, 50%);
    display: inline-flex;
}


.personal-details {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2.5rem;
}

.personal-details p {
    color:var(--tertiary70);
    margin-left: 1.5rem;
    font-size: 18px;
    line-height: 110%;
    font-weight: 500;
    font-family: var(--primaryFont);
    width: 100%;
}

.socialmedia-icons {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 4rem;
}

.socialIcon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    background-color:var(--primary);
    color: var(--secondary);
    transition: 250ms ease-in-out;
   }
    .socialIcon:hover{
        transform: scale(1.1);
        color: var(--secondary);
        background-color: var(--tertiary);
    }
   
   
.detailsIcon {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    transition: 250ms ease-in-out;
    flex-shrink: 0;
}
    .detailsIcon:hover {
        transform: scale(1.1);
        color: var(--secondary);
        background-color: var(--tertiary);
    }

  
.snackbar-close {
    display: flex;
    color: inherit;
    background-color: inherit;
    border: none;
    align-items: center;
}





@media screen and (max-width: 992px) {

    .contacts--container {
        width: 100%;
        margin-top: 1rem;
    }

    .contacts--container>h1 {
        font-size: 3rem;
     
    }

    .contacts-details {
        padding-left: 4rem;
    }


}

@media screen and (max-width: 800px) {

    .contacts--container h1 {
        font-size: 3rem;
        margin-bottom:2rem;
    }

    .contacts--container {
        padding: 2rem;
        margin-top: 0rem;
      
    }

    .contacts-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
       
    .contacts-form {
        padding: 0%;  
    }

    .form-input {
        margin-bottom: 0.45rem;
    }

    .contacts-form form {
        align-items: flex-end;
    }

    .contacts-details {
        padding-left: 0rem;
        padding: 1rem;
        align-items: center;
        margin-top: 2rem;
    }

    .socialmedia-icons {
        width: 100%;
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .personal-details {
        margin-bottom: 1.8rem;
    }

    .personal-details p {
        margin-left: 1.2rem;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .contacts{
        padding: 1rem;
    }

    .contacts--container {
        padding: 1rem;
        margin-top: 0rem;
    }

    .contacts--container h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .contacts-form {
        display: flex;
        width: 100%;
    }
}

    

@media screen and (max-width: 450px) {
    .contacts{
        padding: 1rem;
    }
    .contacts-body  {
         align-items: center;
    }
    
    .form-input {
            height: 2.5rem;
            margin-bottom: .5rem;
    }

    .form-message {
        height:6rem;
        margin-bottom: 1rem;
        overflow: hidden;
    }
    
    
    .contacts-details {
        padding: 0rem;
        align-items: center;
        margin-top: 2rem;
    }

    .detailsIcon {
        width: 1.5rem;
        height: 1.5rem;
            font-size: 1rem;
    }

    .submit-btn {
        align-self: center;
    }
}

