.footer {
    position: absolute;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}

.footer p {
    font-weight: 500;
    font-family:var(--footerFont);
    font-size: 30px;
    color: var(--hiLight);
}




