
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');










* {
  margin: 0;
  box-sizing: border-box;
    --primaryFont: 'Poppins', sans-serif;
    --footerFont: 'Long Cang', cursive;
    --skillsFont:'Big Shoulders Text', cursive;
      --primary: #B6B6B6;
      --primary-back-ground: #b6b6b6d4;
      --primary600: #B6B6B6;
      --primary80: #B6B6B6cc;
      --primary50: #B6B6B680;
      --primary30: #B6B6B64d;
      --secondary: #212121e8;
      --secondary70: #212121b3;
      --secondary50: #21212103;
      --tertiary: #eaeaea;
      --tertiary80: #eaeaeacc;
      --tertiary70: #eaeaeab3;
      --tertiary50: #eaeaea80;
      --hiLight:#00d6438a;
      --hiLight2:#750800;
}

.app{
  background-color: #fce3aa;
  z-index: -1;
  opacity: 0.9;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0,#fce3aa 10px),
    repeating-linear-gradient(#444cf755, #fce3aa);}
    


a {
  text-decoration: none;
  color: var(--primary);
}

.SnackbarItem-message>a {
  color: #fff !important;

}

.snackbar-close {
  display: inline-flex;
  color: inherit;
  background-color: inherit;
  border: none;
  align-items: center;
  padding: 0.5rem;

}




::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background:var(--secondary);
}

::-webkit-scrollbar-thumb {
  background:var(--primary600);
  border-radius: 10px;
  transition: 0.3s;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}


@media screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  body {
    overflow-x: hidden;
  }
}