.MuiBox-root>.ArrowUpIcon {
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    right: 5%;
    bottom: 10%;
    width: 1.5em;
    height:1.5em;
    background-color: var(--primary80);
    border:2px solid var(--secondary70);
    color: var(--tertiary);
    border-radius: 50%;
    z-index: 999;
    transition: 300ms ease-in-out;
}

.MuiBox-root>.ArrowUpIcon:hover{
    color: var(--secondary);
    background-color: var(--tertiary);

}







@media screen and (max-width: 800px) {
    .MuiBox-root {
     
        right: 5%;
        bottom: 5%;
        width: 2em;
        height: 2em;
   
    }
}